*.iml
*.dirlock
*.env
*.geojson
*.pyc
*.egg-info/
*~
*.R
*.DS_Store
*.ipynb_checkpoints/
*.idea/
env*/
*.h5
*.csv
*.p
*.hdfs
*.rdd
*.rds
*.rdata
*.doc
*.dta
*.parquet
*__pycache*
**/*.lock
*.log
*.out
service_account_creds.json
.personal_access_token