# Environment and intermediate files 
*.dirlock
*.venv
*.pyc
*.egg-info/
*~
*.DS_Store
*.ipynb_checkpoints/
*.idea/
*__pycache*
*.Rhistory
*.Rapp.history
*Rplots.pdf
*.DS_Store
*.lof
*.lot
*.svn

# LaTex auxiliary files
*.aux
*.bbl
*.blg
*.out
*.fdb_latexmk
*.fls
*.synctex.gz
*.nav
*.snm
*.toc

# Large data files 
0_raw/*/*.parquet 
0_raw/*/*.csv 
1_data_prep/*/output/*.parquet 
1_data_prep/*/output/*.csv 
